html, body {
  padding: 3rem 0 0 3rem;
}

body {
  background-color: #2B3A42;
  color: #fff;
}

div.tagline {
  font-family: $font-family;
  font-size: 3rem;
  margin-bottom: 2rem;
}

span.light {
  font-weight: 300;
  font-style: italic;
}

span.black {
  font-weight: 900;
}

img.logo {
  width: auto;
  height: 200px;
  opacity: 0.5;
}

img.logo:hover {
  opacity: 1;
}
